In [1]:
import findspark
findspark.init('/home/user/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [2]:
df = spark.read.csv('Datasets/M2.csv', header=True, inferSchema=True)
df = df.filter('Year = 2015').select('id','Country','Year',df.TotalDemand.cast('double').alias('TotalDemand'),df.TotalProduction.cast('double').alias('TotalProduction'),'HydroProduction','NuclearProduction','SolarProduction','WindProduction')
df.show()
print("Total data points:", df.count())

+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
| id|            Country|Year|TotalDemand|TotalProduction|HydroProduction|NuclearProduction|SolarProduction|WindProduction|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
|  2|        Afghanistan|2015|     4752.6|         1033.7|          889.5|              0.0|            0.0|           0.0|
| 28|            Albania|2015|     7265.0|         5895.0|         5895.0|              0.0|            0.0|           0.0|
| 55|            Algeria|2015|    62181.0|        68798.0|          145.0|              0.0|           58.0|          19.0|
| 81|     American Samoa|2015|      169.4|          169.4|            0.0|              0.0|            1.5|           0.0|
|107|            Andorra|2015|    551.381|           99.4|           85.6|              0.0|            0.0|           0.0|
|133|             Angola|2015|     9523.0|         9764.0|         5192.0|              0.0|            0.0|           0.0|
|159|           Anguilla|2015|       91.5|           94.3|            0.0|              0.0|            0.0|           0.0|
|185|Antigua and Barbuda|2015|      337.0|          340.0|            0.0|              0.0|            0.0|           0.0|
|211|          Argentina|2015|   149958.0|       145447.0|        38529.0|           7139.0|           15.0|         599.0|
|238|            Armenia|2015|     6180.0|         7799.0|         2206.0|           2788.0|            1.0|           3.0|
|262|              Aruba|2015|      931.6|          931.6|            0.0|              0.0|            0.0|         138.4|
|289|          Australia|2015|   239335.0|       252360.0|        13445.0|              0.0|         5968.0|       11467.0|
|316|            Austria|2015|    66539.0|        65299.0|        40592.0|              0.0|          937.0|        4840.0|
|342|         Azerbaijan|2015|    23549.0|        24688.0|         1637.0|              0.0|            5.0|           5.0|
|366|            Bahamas|2015|     2041.0|         2117.0|            0.0|              0.0|            0.0|           0.0|
|393|            Bahrain|2015|    28466.0|        29987.0|            0.0|              0.0|            0.0|           0.0|
|419|         Bangladesh|2015|    55696.0|        59011.0|          566.0|              0.0|          154.0|           4.0|
|445|           Barbados|2015|      953.6|        1029.29|            0.0|              0.0|            0.0|           0.0|
|471|            Belarus|2015|    34604.0|        34077.0|          107.0|              0.0|            3.0|          26.0|
|495|            Belgium|2015|    87737.0|        70648.0|         1418.0|          26103.0|         3065.0|        5574.0|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
only showing top 20 rows

Total data points: 224

In [3]:
country = df.select('Country')
country.show()

+-------------------+
|            Country|
+-------------------+
|        Afghanistan|
|            Albania|
|            Algeria|
|     American Samoa|
|            Andorra|
|             Angola|
|           Anguilla|
|Antigua and Barbuda|
|          Argentina|
|            Armenia|
|              Aruba|
|          Australia|
|            Austria|
|         Azerbaijan|
|            Bahamas|
|            Bahrain|
|         Bangladesh|
|           Barbados|
|            Belarus|
|            Belgium|
+-------------------+
only showing top 20 rows

+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
|            Country|Year|TotalDemand|TotalProduction|HydroProduction|NuclearProduction|SolarProduction|WindProduction|
+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
|        Afghanistan|2015|     4752.6|         1033.7|          889.5|              0.0|            0.0|           0.0|
|            Albania|2015|     7265.0|         5895.0|         5895.0|              0.0|            0.0|           0.0|
|            Algeria|2015|    62181.0|        68798.0|          145.0|              0.0|           58.0|          19.0|
|     American Samoa|2015|      169.4|          169.4|            0.0|              0.0|            1.5|           0.0|
|            Andorra|2015|    551.381|           99.4|           85.6|              0.0|            0.0|           0.0|
|             Angola|2015|     9523.0|         9764.0|         5192.0|              0.0|            0.0|           0.0|
|           Anguilla|2015|       91.5|           94.3|            0.0|              0.0|            0.0|           0.0|
|Antigua and Barbuda|2015|      337.0|          340.0|            0.0|              0.0|            0.0|           0.0|
|          Argentina|2015|   149958.0|       145447.0|        38529.0|           7139.0|           15.0|         599.0|
|            Armenia|2015|     6180.0|         7799.0|         2206.0|           2788.0|            1.0|           3.0|
|              Aruba|2015|      931.6|          931.6|            0.0|              0.0|            0.0|         138.4|
|          Australia|2015|   239335.0|       252360.0|        13445.0|              0.0|         5968.0|       11467.0|
|            Austria|2015|    66539.0|        65299.0|        40592.0|              0.0|          937.0|        4840.0|
|         Azerbaijan|2015|    23549.0|        24688.0|         1637.0|              0.0|            5.0|           5.0|
|            Bahamas|2015|     2041.0|         2117.0|            0.0|              0.0|            0.0|           0.0|
|            Bahrain|2015|    28466.0|        29987.0|            0.0|              0.0|            0.0|           0.0|
|         Bangladesh|2015|    55696.0|        59011.0|          566.0|              0.0|          154.0|           4.0|
|           Barbados|2015|      953.6|        1029.29|            0.0|              0.0|            0.0|           0.0|
|            Belarus|2015|    34604.0|        34077.0|          107.0|              0.0|            3.0|          26.0|
|            Belgium|2015|    87737.0|        70648.0|         1418.0|          26103.0|         3065.0|        5574.0|
+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
only showing top 20 rows

In [4]:
print("Sorted by Balance")
df.show()
df.groupBy('Country').mean().orderBy('Year').show()

Sorted by Balance
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
| id|            Country|Year|TotalDemand|TotalProduction|HydroProduction|NuclearProduction|SolarProduction|WindProduction|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
|  2|        Afghanistan|2015|     4752.6|         1033.7|          889.5|              0.0|            0.0|           0.0|
| 28|            Albania|2015|     7265.0|         5895.0|         5895.0|              0.0|            0.0|           0.0|
| 55|            Algeria|2015|    62181.0|        68798.0|          145.0|              0.0|           58.0|          19.0|
| 81|     American Samoa|2015|      169.4|          169.4|            0.0|              0.0|            1.5|           0.0|
|107|            Andorra|2015|    551.381|           99.4|           85.6|              0.0|            0.0|           0.0|
|133|             Angola|2015|     9523.0|         9764.0|         5192.0|              0.0|            0.0|           0.0|
|159|           Anguilla|2015|       91.5|           94.3|            0.0|              0.0|            0.0|           0.0|
|185|Antigua and Barbuda|2015|      337.0|          340.0|            0.0|              0.0|            0.0|           0.0|
|211|          Argentina|2015|   149958.0|       145447.0|        38529.0|           7139.0|           15.0|         599.0|
|238|            Armenia|2015|     6180.0|         7799.0|         2206.0|           2788.0|            1.0|           3.0|
|262|              Aruba|2015|      931.6|          931.6|            0.0|              0.0|            0.0|         138.4|
|289|          Australia|2015|   239335.0|       252360.0|        13445.0|              0.0|         5968.0|       11467.0|
|316|            Austria|2015|    66539.0|        65299.0|        40592.0|              0.0|          937.0|        4840.0|
|342|         Azerbaijan|2015|    23549.0|        24688.0|         1637.0|              0.0|            5.0|           5.0|
|366|            Bahamas|2015|     2041.0|         2117.0|            0.0|              0.0|            0.0|           0.0|
|393|            Bahrain|2015|    28466.0|        29987.0|            0.0|              0.0|            0.0|           0.0|
|419|         Bangladesh|2015|    55696.0|        59011.0|          566.0|              0.0|          154.0|           4.0|
|445|           Barbados|2015|      953.6|        1029.29|            0.0|              0.0|            0.0|           0.0|
|471|            Belarus|2015|    34604.0|        34077.0|          107.0|              0.0|            3.0|          26.0|
|495|            Belgium|2015|    87737.0|        70648.0|         1418.0|          26103.0|         3065.0|        5574.0|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
only showing top 20 rows

AnalysisException: "cannot resolve '`Year`' given input columns: [avg(TotalDemand), avg(SolarProduction), avg(HydroProduction), Country, avg(TotalProduction), avg(WindProduction), avg(NuclearProduction), avg(id)];;\n'Sort ['Year ASC NULLS FIRST], true\n+- Aggregate [Country#1], [Country#1, avg(cast(id#0 as bigint)) AS avg(id)#115, avg(TotalDemand#22) AS avg(TotalDemand)#116, avg(TotalProduction#23) AS avg(TotalProduction)#117, avg(HydroProduction#6) AS avg(HydroProduction)#118, avg(NuclearProduction#7) AS avg(NuclearProduction)#119, avg(SolarProduction#8) AS avg(SolarProduction)#120, avg(WindProduction#9) AS avg(WindProduction)#121]\n   +- Project [id#0, Country#1, Year#2, cast(TotalDemand#4 as double) AS TotalDemand#22, cast(TotalProduction#5 as double) AS TotalProduction#23, HydroProduction#6, NuclearProduction#7, SolarProduction#8, WindProduction#9]\n      +- Filter (cast(Year#2 as double) = cast(2015 as double))\n         +- Relation[id#0,Country#1,Year#2,IsEstimate#3,TotalDemand#4,TotalProduction#5,HydroProduction#6,NuclearProduction#7,SolarProduction#8,WindProduction#9] csv\n"

In [5]:
spark = SparkSession.builder.appName('linearRegression').getOrCreate()
from pyspark.ml.regression import LinearRegression

In [24]:
training = df.select('TotalProduction',(df.HydroProduction + df.NuclearProduction + df.SolarProduction + df.WindProduction).alias('TotalRenewable'))

In [30]:
training.show()

+---------------+--------------+
|TotalProduction|TotalRenewable|
+---------------+--------------+
|         1033.7|         889.5|
|         5895.0|        5895.0|
|        68798.0|         222.0|
|          169.4|           1.5|
|           99.4|          85.6|
|         9764.0|        5192.0|
|           94.3|           0.0|
|          340.0|           0.0|
|       145447.0|       46282.0|
|         7799.0|        4998.0|
|          931.6|         138.4|
|       252360.0|       30880.0|
|        65299.0|       46369.0|
|        24688.0|        1647.0|
|         2117.0|           0.0|
|        29987.0|           0.0|
|        59011.0|         724.0|
|        1029.29|           0.0|
|        34077.0|         136.0|
|        70648.0|       36160.0|
+---------------+--------------+
only showing top 20 rows

In [31]:
lr = LinearRegression(featuresCol='TotalProduction', labelCol='TotalRenewable')

In [32]:
lrModel = lr.fit(training)

IllegalArgumentException: 'requirement failed: Column TotalProduction must be of type org.apache.spark.ml.linalg.VectorUDT@3bfc3ba7 but was actually DoubleType.'

trainingSummary = lrModel.summary

print("Coefficients: " + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

trainingSummary.residuals.show()

# Print Root Mean Squared Error. 
print("RMSE: {}".format(trainingSummary.rootMeanSquaredError))

# Print R-Squared.
print("R2: {}".format(trainingSummary.r2))

In [35]:
df1 = spark.read.csv('Datasets/M2.csv', header=True, inferSchema=True)
df1 = df1.filter('Year = 2014').select('id','Country','Year',df1.TotalDemand.cast('double').alias('TotalDemand'),df1.TotalProduction.cast('double').alias('TotalProduction'),'HydroProduction','NuclearProduction','SolarProduction','WindProduction')
df1.show()
print("Total data points:", df1.count())

+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
| id|            Country|Year|TotalDemand|TotalProduction|HydroProduction|NuclearProduction|SolarProduction|WindProduction|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
|  3|        Afghanistan|2014|     4702.1|         1049.3|          895.3|              0.0|            0.0|           0.0|
| 29|            Albania|2014|    7791.43|        4724.43|        4724.43|              0.0|            0.0|           0.0|
| 56|            Algeria|2014|    57502.0|        64242.0|          254.0|              0.0|            0.0|           0.0|
| 82|     American Samoa|2014|    147.364|        156.945|            0.0|              0.0|            1.1|           0.0|
|108|            Andorra|2014|      542.0|          126.8|          113.4|              0.0|            0.0|           0.0|
|134|             Angola|2014|     9246.0|         9480.0|         5041.0|              0.0|            0.0|           0.0|
|160|           Anguilla|2014|       86.7|           89.5|            0.0|              0.0|            0.0|           0.0|
|186|Antigua and Barbuda|2014|      329.0|          336.0|            0.0|              0.0|            0.0|           0.0|
|212|          Argentina|2014|   144073.0|       138576.0|        41335.0|           5756.0|           16.0|         619.0|
|239|            Armenia|2014|    6281.14|         7750.0|         1992.0|           2465.0|            0.0|           4.0|
|263|              Aruba|2014|      916.6|          916.6|            0.0|              0.0|            0.0|         138.4|
|290|          Australia|2014|   233408.0|       248299.0|        18421.0|              0.0|         4858.0|       10252.0|
|317|            Austria|2014|    66328.0|        65442.0|        44836.0|              0.0|          785.0|        3846.0|
|343|         Azerbaijan|2014|    23365.0|        24728.0|         1300.0|              0.0|            3.0|           2.0|
|367|            Bahamas|2014|     1848.0|         1922.0|            0.0|              0.0|            0.0|           0.0|
|394|            Bahrain|2014|    27253.0|        27253.0|            0.0|              0.0|            0.0|           0.0|
|420|         Bangladesh|2014|    52707.0|        55845.0|          588.0|              0.0|          145.0|           4.0|
|446|           Barbados|2014|     962.44|        1020.58|            0.0|              0.0|            0.0|           0.0|
|472|            Belarus|2014|    35836.0|        34735.0|          121.0|              0.0|            1.0|          11.0|
|496|            Belgium|2014|    86004.0|        72672.0|         1462.0|          33703.0|         2883.0|        4615.0|
+---+-------------------+----+-----------+---------------+---------------+-----------------+---------------+--------------+
only showing top 20 rows

Total data points: 224